# Okay, let's just Zip it all. & then pack it as is. uhh help..
# (JOELwindows7)

name: PackAll

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: blacksmith-4vcpu-ubuntu-2404
    # runs-on: blacksmith-4vcpu-ubuntu-2404-arm
    # maybe ARM is bad idea because the binaries are all x86.. but we're just packing stuffs!

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Lah-Mboh
        uses: actions/checkout@v4
        with:
          path: Lah-Mboh

      # and these..
      - name: Checkout also Bring Your Own USB
        uses: actions/checkout@v4
        with:
          repository: Perkedel/BringYourOwnUSB-SFW
          path: BringYourOwnUSB-SFW
          ref: main
          sparse-checkout: |
            Mods/GZDoom/
            Compile/

      # There are more, but those are.. you see yourself.
      # make sure you biologically & mentally adult first.

      # Describe Git now
      # Because used by UZDoom
      # https://github.com/UZDoom/UZDoom/blob/61280935c8d0c023529bdc90c47425d570a48aff/.github/workflows/continuous_integration.yml#L67
      # Check it out https://github.com/marketplace/actions/gh-describe
      - name: Git describe
        id: ghd
        uses: proudust/gh-describe@v2
      - name: Check outputs
        run: |
          echo "So, here's the gh-describe outputs...:"
          echo "describe  : ${{ steps.ghd.outputs.describe }}"
          echo "tag       : ${{ steps.ghd.outputs.tag }}"
          echo "distance  : ${{ steps.ghd.outputs.distance }}"
          echo "sha       : ${{ steps.ghd.outputs.sha }}"
          echo "short-sha : ${{ steps.ghd.outputs.short-sha }}"
          #echo "And so, I'll write this to file here. who knows useful."
          # and write?
          touch version.txt
          #echo "${{ steps.ghd.outputs.tag }}-${{ steps.ghd.outputs.sha }}" > version.txt
          echo "${{ steps.ghd.outputs.describe }}" > version.txt
          cat version.txt
      # From now on, you must move to respective repository folder
      # cd Lah-Mboh
      # pwd
      # ls

      # handle the USB!
      - name: Handle USB
        run: |
          cd BringYourOwnUSB-SFW
          pwd
          ls
          if [ -e ./Compile/packForUSB.sh ]; then
            chmod +x ./Compile/packForUSB.sh
            ./Compile/packForUSB.sh
            echo "Bring the USB out!"
            cp README.md ./outCompile
            pwd
            ls
            cd outCompile
            mv README.md README.txt
            pwd
            ls
            7z a -t7z -mx9 -m0=lzma2 -- outCompile.7z *
            cd ..
            pwd
            ls
            mv ./outCompile/outCompile.7z ..
            pwd
            ls
            cd ..
            pwd
            ls
            mv outCompile.7z BringYourOwnUSB-SFW.7z
          else
            echo "WERROR 404 BringYourOwnUSB Compiler NOT FOUND"
            echo "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
          fi
          pwd
          ls

      # temp patches if you need it
      # - name: Bonus Patches
      #   run: |
      #     cd BringYourOwnUSB-SFW
      #     pwd
      #     ls

      # Freedoom fetches all the history? okeh..
      # wai wai wai, you fetch depth 0, and then suddenly re-add the remote of yours there
      # then pull the histories all up manually? what do you mean?

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      - name: Uuuh, where were we again?
        run: |
          echo "We are at..."
          pwd
          echo "which contains.."
          ls
          echo "We must firstly move to the main repo everytime now on"
          cd Lah-Mboh
          pwd
          ls

      # - name: First, take off the yoink files off the source code. We can't let duplicate it this big
      #   run: |
      #     echo "Shall we?"
      #     echo "no nvm"

      - name: First, compile the ACSes!
        run: |
          cd Lah-Mboh
          pwd
          ls
          echo "Let's compile!"
          chmod +x ./src/batchScripts/compileLahMbohACS.sh
          ./src/batchScripts/compileLahMbohACS.sh

      - name: Then, compress PNG
        run: |
          echo "TODO"

      - name: Copy the yoinked files readme to txt version because that's the most compatible, ironically
        run: |
          cd Lah-Mboh
          pwd
          ls
          echo "We must firstly copy the yoink folder readme to txt version so you can just 2x click it."
          cp yoinks/README.md yoinks/README.txt
          cp README.md README.txt
          cp CREDITS.md CREDITS.txt
          cp Lah-Mboh.txt WADINFO
          echo "that should do it"
          echo "btw, Let's keep other idgames description in the file even we copied it outside."
          echo "People are nasty. copying just the PWAD file itself ignoring its complementary txt file."
          echo "WE FUCKING NEED SHOUTOUT!!! THATS ALL I WANT! UPLOAD YESS, BUT PLS THE TXT FILE TOO!!"
          echo "Infact goes everywhere! Reupload all my videos YESS, but keep the watermark! I will never provide unwatermarked version"
          echo "even I got paid inf money. Just know, its from me!"

      - name: cleanseing
        run: |
          cd Lah-Mboh
          pwd
          ls
          echo "Clean unecessary files not needed in the distributed archive!"
          rm -rf maps/*.dbs
          rm -rf maps/*.backup1
          rm -rf maps/*.backup2
          rm -rf maps/*.backup3
          rm -rf maps/*.autosave1
          rm -rf maps/*.autosave2
          rm -rf maps/*.autosave3

      - name: Zip it PK3
        run: |
          cd Lah-Mboh
          ls
          pwd
          echo "Zip now"
          zip -9 -r Lah-Mboh.zip .
          zip -dr Lah-Mboh.zip yoinks
          zip -dr Lah-Mboh.zip bonus
          zip -dr Lah-Mboh.zip source
          zip -dr Lah-Mboh.zip src
          zip -dr Lah-Mboh.zip LANGUAGE.ods
          mv Lah-Mboh.zip Lah-Mboh.pk3
          ls
          pwd

      # Do it like kyli873 in this Kinsie's FauxDM
      # https://github.com/TheKins/FauxDM/blob/master/_zip.bat
      - name: 7z it PK7
        run: |
          cd Lah-Mboh
          ls
          pwd
          echo "7z now"
          7z a -t7z -mx9 -m0=lzma2 -- Lah-Mboh.7z *
          7z d Lah-Mboh.7z Lah-Mboh.pk3
          7z d Lah-Mboh.7z yoinks
          7z d Lah-Mboh.7z bonus
          7z d Lah-Mboh.7z source
          7z d Lah-Mboh.7z src
          7z d Lah-Mboh.7z LANGUAGE.ods
          echo "What Does it contains now?"
          7z l Lah-Mboh.7z
          mv Lah-Mboh.7z Lah-Mboh.pk7
          ls
          pwd

      # - name: Upload These all
      #   uses: actions/upload-artifact@v4.6.1
      #   with:
      #     name: Lah-Mboh
      #     path: |
      #       Lah-Mboh.pk3
      #       Lah-Mboh.pk7
      #       Lah-Mboh.txt
      #     if-no-files-found: error

      # There was SilverMiner recommending me XZ
      # https://www.doomworld.com/forum/post/2912992 **GONE**
      # remember, GZDoom likely does not support tar nor xz. Only ZIP & 7z.
      # Well speaking of, care to ask Graf Zahl or add your own? Mod source code itself tho!
      - name: Since we tired of this calamity, why not just repack it in the same step as the artifact?
        run: |
          cd Lah-Mboh
          ls
          pwd
          echo "Shut zip"
          zip -9 Lah-Mboh.zip Lah-Mboh.pk3
          zip -u Lah-Mboh.zip Lah-Mboh.txt
          #zip -u Lah-Mboh.zip version.txt
          zip -u Lah-Mboh.zip yoinks
          zip -u Lah-Mboh.zip bonus
          echo "Scroll Thru 7zeas"
          7z a -t7z -mx9 -m0=lzma2 -- Lah-Mboh.7z Lah-Mboh.pk7
          7z u Lah-Mboh.7z Lah-Mboh.txt
          #7z u Lah-Mboh.7z version.txt
          7z u Lah-Mboh.7z yoinks
          7z u Lah-Mboh.7z bonus
          echo "Here total content of this 7z"
          7z l Lah-Mboh.7z
          echo "also tar.xz"
          tar -cvf Lah-Mboh.tar Lah-Mboh.pk7
          tar -uvf Lah-Mboh.tar Lah-Mboh.txt
          #tar -uvf Lah-Mboh.tar version.txt
          tar -uvf Lah-Mboh.tar yoinks
          tar -uvf Lah-Mboh.tar bonus
          xz -v9e Lah-Mboh.tar
          echo "Now lets check content"
          xz -t Lah-Mboh.tar.xz
          xz -l Lah-Mboh.tar.xz
          ls
          pwd

      - name: Bring all of the files outside!
        run: |
          cd Lah-Mboh
          ls
          pwd
          mv Lah-Mboh.zip ..
          mv Lah-Mboh.7z ..
          mv Lah-Mboh.tar.xz ..
          ls
          pwd

      - name: Check first
        run: |
          echo "AAAA"
          ls
          pwd
          cd Lah-Mboh
          ls
          pwd

      - name: Upload These all
        uses: actions/upload-artifact@v4.6.1
        with:
          name: Lah-Mboh
          path: |
            Lah-Mboh.zip
            Lah-Mboh.tar.xz
            Lah-Mboh.7z
            BringYourOwnUSB-SFW.7z
          if-no-files-found: error

      # Now, checksums!
      # SHA256 Checksum generator
      # https://github.com/marketplace/actions/sha256-checksum
      # https://github.com/Huy-Ngo/gha-sha
      # https://github.com/Huy-Ngo/gha-sha/blob/main/.github/workflows/main.yml
      - name: Generate SHA256 Checksum
        uses: Huy-Ngo/gha-sha@v1.1.0
        with:
          glob: "Lah-Mboh.*"

      # Other Checksum
      # https://github.com/marketplace/actions/checksum-action
      # https://github.com/Solratic/checksum-action
      # - name: Moar Checksums
      #   uses: Solratic/checksum-action@v1
      #   with:
      #     pattern: 'Lah-Mboh.*'
      #     suffix: 'checksum'

      # checksum moaoar
      # https://github.com/marketplace/actions/generate-checksum
      - name: Checksums Moaoaore
        uses: jmgilman/actions-generate-checksum@v1.0.1
        with:
          patterns: |
            Lah-Mboh.pk3
            Lah-Mboh.pk7
            Lah-Mboh.zip
            Lah-Mboh.tar.xz
            Lah-Mboh.7z
            BringYourOwnUSB-SFW.7z

      # idk anymore, there's alot
      # https://github.com/marketplace/actions/checksums-action
      # https://github.com/thewh1teagle/checksum
      # - name: Even More Checksums
      #   uses: thewh1teagle/checksum@v2
      #   with:
      #     patterns: |
      #       Lah-Mboh.*
      #       *.pk3
      #       *.pk7
      #       *.tar.xz
      #       *.zip
      #   env:
      #     GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # https://pytooling.github.io/Actions/Action/Releaser.html#action-releaser
      # https://github.com/pyTooling/Actions/tree/dev/releaser
      # https://github.com/dpjudas/VkDoom/blob/master/.github/workflows/continuous_integration.yml
      - name: Try manipulate that release like dpjudas Vkdoom!
        uses: pyTooling/Actions/releaser@r0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          rm: true
          snapshots: true
          files: |
            checksum.txt
            Lah-Mboh.zip
            Lah-Mboh.7z
            Lah-Mboh.tar.xz
            BringYourOwnUSB-SFW.7z

      # Well, It had to be everywhere right?
      # https://github.com/marketplace/actions/butler-to-itch
      - name: Push to Itch
        uses: Ayowel/butler-to-itch@v1.2.0
        with:
          butler_key: ${{ secrets.BUTLER_CREDENTIALS }}
          itch_user: joelwindows7
          itch_game: lah-mboh
          version: ${{ github.ref_name }}
          auto_channel: false
          files: |
            seven-zee Lah-Mboh.7z
            tar-exczee Lah-Mboh.tar.xz
            pk-three Lah-Mboh.zip
            extras-sfw BringYourOwnUSB-SFW.7z
